.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
  height: 100%;
}

.form-container h1 {
  margin: 0 0 35px 0;
  font-size: 50px;
  margin-top: -50px;
}

.form-container input {
  background-color: #eee;
  border: none;
  margin: 10px 0;
  height: 50px;
  padding: 0px 15px;
  font-size: 17px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container button {
  background-color: #2da0a8;
  color: #fff;
  font-size: 16px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #126268;
  transition: all 0.2s ease;
  transform: scale(1.03);
}

.form-container span {
  font-size: 25px;
  margin: 0 0 30px 0;
  margin-top: -20px;
  text-align: center;
}

.form-container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.form-container.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.form-container.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-container.sign-up.active {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.spinner {
  margin: 15px auto;
  border: 4px solid #f3f3f3; /* màu nền */
  border-top: 4px solid #3498db; /* màu xoay */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Khi loading thì nút bị mờ đi */
button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}